<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an apps?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-grid>
      <ion-row>
        <ion-col>
          test
        </ion-col>
        <ion-col><div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/806648765?h=0464a50cbd&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="grade_3_math_unit_5_lesson_3_to_4_hd"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script></ion-col>
        
      </ion-row>
    </ion-grid>
   
      

    
  </div>
</ion-content>
